body{
    margin: 0;
    padding: 0;
    background-image: url(../images/sports.jpeg);
}
.wrapper,
.subwrapper,
.sec1{
    height:300px;
    width:100%;
}
.wrapper{
    background: #262626;
    position: relative;
}
.subwrapper{
    background: #3bffb4;
    position: relative;
}
.sec1{
    background:#262626;
    position: relative;
}

h1{
    color:white;
    position: relative;
    margin-left: 35%;
    margin-top: 5%;
  }
button{
    margin-left: 50%;
}
#Start{
    color: white;
    background-color: black;

}